* {
  background: #0b0f14;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", "sans-serif";
  @media (min-width: 1024px) {
    cursor: none;
  }

  cursor: default;

  // show cursor on

  &::-moz-selection {
    background: #20c55e;
    color: #fff;
  }

  &::selection {
    background: #20c55e;
    color: #fff;
  }
}
