* {
  background: #0b0f14;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", "sans-serif";

  &::-moz-selection {
    /* Code for Firefox */
    background: #20c55e;
    color: #fff;
  }

  &::selection {
    background: #20c55e;
    color: #fff;
  }
}
